* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bricolage Grotesque", sans-serif;
}

button {
  padding: 15px 30px;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  background: black;
  color: white;
  border: none;
}
